<!-- templates/home.html -->
{% extends 'base.html' %}


{% block title %}
Main Posts
{% endblock title %}


{% block content %}

<!-- search bar -->
<br><br>
<div class="container">
    <form class="form-inline">
        <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Nom d'utilisateur" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Envoyer</button>
    </form>
</div>
<br>
Searched users:
<ul>
    {% for p in searchedprofile %}
    <li>{{p}}</li>
    {% endfor %}
</ul>
<hr>
<hr>
<br><br>

<!-- User content -->
Les tickets de l'utilisateur et ceux de personnes qu'il suit
<hr>
<div class="container">
    <div class="row">
        <div class="col-2">
            Compte de: {{ profile }}
            <br><br>
            <a href="{% url 'profiles:profile-list-view' %}">
                <button type="button" class="btn btn-primary">People to follow</button>
            </a>
            <br><br>
            Following:
            <ul>
                {% for p in profile.following.all %}
                <li>{{p}}</li>
                {% endfor %}
            </ul>
            <hr>
            Followers: <br>
            <ul>
                {% for follower in user.following.all %}
                <li>{{follower}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-5">
            User Tickets:
            <hr>
            {% for t in tickets %}
                {% if profile == t.author %}
                <b>{{t.author}}</b>
                <br>
                {{t.description}}
                <hr>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-5">
            Following Tickets:
            <hr>
            {% for t in tickets %}
                {% if profile != t.author %}
                <b>{{t.author}}</b>
                <br>
                {{t.description}}
                <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}