<!-- templates/home.html -->
{% extends 'base.html' %}


{% load static %}

{% block title %}
Main Posts
{% endblock title %}


{% block content %}

<!-- search bar -->
<br><br>
<div class="container ">
    <form class="form-inline pull-right" method=POST action="{% url 'user-search' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="searched" type="search" placeholder="Taper le nom d'un utilisateur" value="{{ request.GET.q }}" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Chercher</button>
    </form>
</div>
<br><br><br>

<!-- User content -->
<hr>
<div class="container">
    <div class="row">
        
        <!-- LIST OF FOLLOWED PEOPLE AND FOLLOWERS -->
        <div class="col-3">
            <b>{{ profile }}</b> suit:
            <hr>
            <ul>
                {% for p in profile.following.all %}
                <li>{{p}}</li>
                {% endfor %}
            </ul>
            <hr>
            <hr>
            <b>{{ profile }}</b> est suivi par:
            <hr>
            <ul>
                {% for follower in user.following.all %}
                <li>{{follower}}</li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- FOLLOWED PEOPLE CONTENT -->
        <div class="col-9">
            <hr>
            {% for t in tickets %}
                {% if profile != t.author %}
                <span class="text-muted float-right" style="font-size:0.7rem;">
                    {{t.created|date:"H:i"}}, {{t.created|date:"d b Y"}}
                </span>
                
                Auteur: {{t.author}}
                <br>
                <b>Titre: {{t.title}}</b>
                
                <br><br>
                {{t.description}}
                <br><br>
                
                {% if t.image %}
                <img class="image" src="/static/images/{{ t.image }}"  alt="livre ou article" style="max-width: 300px;"/>
                {% endif %}
                <br><br>
                
                {% if user == t.author.user %}
                    <a href="{% url 'ticket_edit' t.pk %}">Modifier</a> |
                    <a href="{% url 'ticket_delete' t.pk %}">Effacer</a>
                {% endif %}
                
                <hr>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock content %}