<!-- templates/registration/password_change_form.html -->
{% extends 'base.html' %}


{% block title %}Changer mot de passe{% endblock title %}


{% block content %}
    <h1>Changement de mot de passe</h1>
    <p>Veuillez saisir l'ancien mot de passe, puis taper deux fois le nouveau mot de passer pour vérifier s'il n'y as pas eu d'erreur de saisie.  Merci.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Changer mot de passe">
    </form>
{% endblock content %}
