<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}


{% block title %}Mot de passe oublié?{% endblock title %}


{% block content %}
<h1>Avez-vous oublié votre mot de passe?</h1>
<p>Veuillez taper votre adresse mail ci-dessous, et nous vous transmettrons les instructions pour créer un autre mot de passe.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Envoyez-moi les instructions!">
</form>
{% endblock content %}
