<!-- templates/ticket_list.html -->
{% extends 'base.html' %}


{% block title %}Flux{% endblock title %}


{% block content %}
    <div class="text-center">
        <a type="btn" href="{% url 'ticket_new' %}" class="btn btn-outline-primary">Demander une critique</a>
        <a type="btn" href="" class="btn btn-outline-primary">Créer une critique</a>
    </div>
    <br/>
    {% if ticket_list and user.is_authenticated %}
        
        {% for ticket in ticket_list %}
            <div class="card">
                    
                    <div class="card-header">
                        <span class="text-muted float-right" style="font-size:0.7rem;">{{ ticket.created|date:"H:i" }}, {{ ticket.created|date:"d b Y" }}</span>
                        
                        {% if ticket.comments.first %}
                            <p style="margin-bottom:0;">
                                
                                {% if user == ticket.comments.first.user %}
                                    <span class="text-muted">Vous avez publié une critique</span><br>
                                {% else %}
                                    <span class="text-muted">{{ ticket.comments.first.user }} a publié une critique</span><br>
                                {% endif %}

                                <span class="font-weight-bold font-italic">{{ ticket.comments.first.subject }}&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                                <span class="fa {% if ticket.comments.first.rating >= 1 %} fa-star {% else %} fa-star-o {% endif%}"></span>
                                <span class="fa {% if ticket.comments.first.rating >= 2 %} fa-star {% else %} fa-star-o {% endif%}"></span>
                                <span class="fa {% if ticket.comments.first.rating >= 3 %} fa-star {% else %} fa-star-o {% endif%}"></span>
                                <span class="fa {% if ticket.comments.first.rating >= 4 %} fa-star {% else %} fa-star-o {% endif%}"></span>
                                <span class="fa {% if ticket.comments.first.rating >= 5 %} fa-star {% else %} fa-star-o {% endif%}"></span>
                                <br>
                                <span class="font-weight-bold font-italic">'{{ ticket.comments.first.review}}'</span>
                            </p>
                        {% else %}
                            {% if user == ticket.author.user %}
                                <span class="text-muted">Vous avez demandé une critique.</span>
                            {% else %}
                                <span class="text-muted">{{ ticket.author }} a demandé une critique</span>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                    <div class="card-body">
                        
                        <h6>
                            <a href="{% url 'ticket_detail' ticket.pk %}">
                                <span class="font-weight-bold">{{ ticket.title }}</span>
                            </a>
                        </h6>
                        
                        <p>{{ ticket.description }}</p>

                        {% if ticket.image %}
                            <img class="image" src="/static/images/{{ ticket.image }}"  alt="livre ou article" style="max-width: 300px;"/>
                        {% endif %}
                        
                        {% if user == ticket.author.user %}
                            <a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a> |
                            <a href="{% url 'ticket_delete' ticket.pk %}">Effacer</a>
                        {% endif %}
                        <br>
                        <span>visiteur: {{ user }}</span> <br>
                        <span>auteur ticket: {{ ticket.author }}</span><br>
                        <span>auteur review: {{ ticket.comments.first.user }}</span><br>
                        
                        {% if not ticket.comments.first %}
                            <a type="btn" href="{% url 'ticket_detail' ticket.pk %}" class="btn btn-outline-primary pull-right">Créer une critique</a>
                        {% endif %}
                    
                    </div>

                </div>
                <br/>
        {% endfor %}
    
    <!-- FOLLOWED PEOPLE CONTENT -->
        <div class="col-5">
            FOLLOWING TICKETS:
            <hr>
            {% for t in tickets %}
                {% if profile != t.author %}
                <span class="text-muted float-right" style="font-size:0.7rem;">
                    {{t.created|date:"H:i"}}, {{t.created|date:"d b Y"}}
                </span>
                
                Auteur: {{t.author}}
                <br>
                <b>Titre: {{t.title}}</b>
                
                <br><br>
                {{t.description}}
                <br><br>
                
                {% if t.image %}
                <img class="image" src="/static/images/{{ t.image }}"  alt="livre ou article" style="max-width: 300px;"/>
                {% endif %}
                <br><br>
                
                {% if user == t.author.user %}
                    <a href="{% url 'ticket_edit' t.pk %}">Modifier</a> |
                    <a href="{% url 'ticket_delete' t.pk %}">Effacer</a>
                {% endif %}
                
                <hr>
                {% endif %}
            {% endfor %}
        </div>
    
        {% else %}
        <p> Aucun ticket n'a été publiéeee</p>
    {% endif %}

    {% endblock content %}
