<!-- templates/review_new.html -->
{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block content %}
    <!-- <h1>Créer une critique (nouvelle critique)</h1>
    <hr>
    <form action="{% url 'review_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Enregistrer</button>
        <button class="btn btn-danger ml-2" type="button">Annuler</button>
    </form>
    <br/>
    <br/>
    <br/> -->
    {% crispy form %}
{% endblock content %}
