<!-- templates/review_edit.html -->
{% extends 'base.html' %}


{% load crispy_forms_filters %}

{% block content %}

    <!-- REVIEW FORM -->
    <h5>Modifier votre commantaire!</h5>
    <br>
    
    <!-- replace single_ticket.id by ticket.pk -->
    <form action="{% url 'edit_review' ticket.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info ml-2" type="submit">Enregistrer</button>
        <!-- <a type="btn" href="{% url 'feed' %}" class="btn ml-2 btn-outline-danger">Annuler</a> -->
        <a type="btn" onClick="javascript:history.go(-1);" class="btn ml-2 btn-outline-danger">Annuler</a>
    </form>

{% endblock content %}
