<!-- templates/review_new.html -->
{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block content %}
    <h1>Créer une critique (nouvelle critique)</h1>
    <hr>
    <h2>{{ pk }}</h2>
    {% crispy form %}
    <a href="{% url 'ticket_list' %}" >Annuler</a>
    <!-- <form action="{% url 'review_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Enregistrer</button>
        <a type="btn" href="{% url 'ticket_list' %}" class="btn ml-2 btn-outline-danger">Annuler</a>
    </form> -->
    <br/>
    <br/>
    <br/>
{% endblock content %}
