<!-- templates/ticket_detail.html -->
{% extends 'base.html' %}



{% block content %}
    <div class="ticket-entry">
        <h2>{{ object.title }}</h2>
        <p>par {{ object.author }} | {{ object.created }}</p>
        <p>{{ object.description }}</p>
        {% if ticket.image %}
        <img class="image" src="/static/images/{{ ticket.image }}" style="max-width: 300px;"/>
        {% endif %}
    </div>
    
    <br>
    <!-- Allow author to update or delete ticket -->
    {% if user == ticket.author.user %}
    <p><a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a> |
    <a href="{% url 'ticket_delete' ticket.pk %}">Effacer</a></p>
    {% endif %}
    <a type="btn" href="{% url 'myfeed' %}" class="btn btn-warning">Retourner</a>
    <hr>

    <!-- THIS PART IS TO UPDATE COMMENT -->
    {% if not ticket.comments.first.user %}

        <!-- START UPDATE -->
        <h5>Ajouter un commentaire ou cliquer sur retourner ci-dessus.</h5>
        <br>
        <!-- replace single_ticket.id by ticket.pk -->
        <form action="{% url 'submit_review' ticket.pk %}" method="POST">
            {% csrf_token %}
            
            <div>
                <label for="ratingtitle">Titre</label>
                <input type="text" class="form-control" name="subject" id="ratingtitle">
                <br>
                <!-- Rating stars -->
                <label>Note</label>
                <br>
                <div class="rate">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1"> - 1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2">
                        <label class="form-check-label" for="inlineRadio2"> - 2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3">
                        <label class="form-check-label" for="inlineRadio3"> - 3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4">
                        <label class="form-check-label" for="inlineRadio4"> - 4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5">
                        <label class="form-check-label" for="inlineRadio5"> - 5</label>
                    </div>
                </div>
                
                <!-- REVIEW CONTENT -->
                <br>
                Commentaire
                <textarea name="review" rows="4" class="form-control"></textarea>
                <br>
                        <input type="submit" value="Envoyer" class="btn btn-primary">
                        <a class="btn btn-danger" href="{% url 'myfeed' %}" role="button">Annuler</a>
                <br>
                <br>
                

            </div>

        </form>
    {% endif %}


{% endblock content %}
