<!-- templates/ticket_edit.html -->
{% extends 'base.html' %}


{% load crispy_forms_filters %}

{% block content %}
    <h1>Modifier</h1>
    <form action="{% url 'ticket_edit' ticket.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info ml-2" type="submit">Actualiser</button>
        <a type="btn" href="{% url 'ticket_list' %}" class="btn ml-2 btn-outline-danger">Annuler</a>
    </form>
    <br>
    
    <!-- <p><a href="{% url 'ticket_list' %}">Annuler</a></p> -->
{% endblock content %}
