<!-- templates/ticket_list.html -->
{% extends 'base.html' %}


{% block title %}Tickets{% endblock title %}


{% block content %}
    <div class="text-center">
        <a type="btn" href="{% url 'ticket_new' %}" class="btn btn-outline-primary">Demander une critique</a>
        <a type="btn" href="{% url 'review_new' %}" class="btn btn-outline-primary">Créer une critique</a>
    </div>
    <br/>
    {% if ticket_list %}
        
        {% for ticket in ticket_list %}
            <div class="card">
                    
                    <div class="card-header">
                        <a href="{% url 'ticket_detail' ticket.pk %}">
                        <span class="font-weight-bold">{{ ticket.title }}</span></a> &middot; 
                        <span class="text-muted"> par {{ ticket.user }}</span>
                        <span class="text-muted float-right">{{ ticket.date|date:"H:i" }}, {{ ticket.date|date:"d b Y" }}</span>
                        {% if ticket.comments.first %}
                            <p>
                                <span class="font-weight-bold">{{ ticket.comments.first }} </span> - {{ ticket.comments.first.rating }}
                            </p>
                        {% endif %}
                    </div>
                    
                    <div class="card-body">
                        <p>{{ ticket.description }}</p>

                        {% if ticket.image %}
                            <img class="image" src="/static/images/{{ ticket.image }}"  alt="livre ou article" style="max-width: 300px;"/>
                        {% endif %}
                        
                        {% if user.is_authenticated and user == ticket.user %}
                            <a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a> |
                            <a href="{% url 'ticket_delete' ticket.pk %}">Effacer</a>
                        {% endif %}

                        {% if not ticket.comments.first %}
                            <a type="btn" href="{% url 'review_new'  %}" class="btn btn-outline-primary">Créer une critique</a>
                        {% endif %}
                    </div>

                </div>
                <br/>
        {% endfor %}
    {% else %}
        <p> Aucun ticket n'a été publié</p>
    {% endif %}
{% endblock content %}
