<!-- templates/ticket_detail.html -->
{% extends 'base.html' %}


{% block content %}
    <div class="ticket-entry">
        <h2>{{ object.title }}</h2>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}</p>
        <img class="image" src="/static/images/{{ ticket.image }}">
    </div>
    <p><a href="{% url 'ticket_edit' ticket.pk %}">Modifier</a> |
    <a href="{% url 'ticket_delete' ticket.pk %}">Effacer</a></p>
    <p>Voir <a href="{% url 'ticket_list' %}">tous les tickets</a>.</p>
{% endblock content %}
